/* @group Imports */

@import 'https://fonts.googleapis.com/css?family=Fira+Mono';

/* @end Imports */

/* @group Colors */

$theme-red: #b53f39;
$theme-blue: #393c4f;
$theme-green: #449e4b;

$version-uptodate: #0a0;
$version-minor: #fdb45c;
$version-major: #f7464a;
$version-errored: #787878;

$white: #fff;

/* @end Colors */

/* @group Mixins */

@mixin font-fira-mono() {
  font-family: 'Fira Mono', monospace;
}

/* @end Mixins */

/* @group Fonts Overrides */

$fa-font-path: '../fonts';
@import 'node_modules/font-awesome/scss/font-awesome.scss';

/* @end Fonts Overrides */

/* @group Bootstrap Overrides */

$alert-border-width: 0;

$brand-success: $theme-green;
$brand-danger: $theme-red;

$navbar-height: 65px;
$navbar-border-radius: 0;
$navbar-padding-vertical: 0.3rem;
$navbar-padding-horizontal: 1rem;

$alert-padding: 8px;
$alert-border-radius: 0;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* @end Bootstrap Overrides */

// @import "node_modules/bootstrap/less/bootstrap";
// @import "node_modules/font-awesome/less/font-awesome.less";
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

/* @group Misc */

.loading {
  text-align: center;
  padding: 5px 0;

  .fa {
    margin: 0 5px;
  }
}

.github-corner svg {
  z-index: 9999;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* @end Misc */

/* @group Navbar */

.navbar {
  height: $navbar-height;
  background-color: $theme-red;

  .navbar-brand {
    display: block;
    margin-right: 0;
    float: none;

    .img-responsive {
      margin: 0 auto;
      max-height: 45px;
    }
  }
}

/* @end Navbar */

/* @group Welcome Banner */

.welcome-banner {
  background-color: $theme-blue;
  color: $white;
  padding: 20px 30px;

  h2,
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}

/* @end Welcome Banner */

/* @group Search Bar */

.search-alert {
  margin-bottom: 0;
  padding: 10px 20px;
}

.search-bar {
  background-color: $gray-lighter;

  .form-group {
    margin-bottom: 0;

    .form-control {
      @include border-radius(0);
      @include font-fira-mono();

      padding-top: 20px;
      padding-bottom: 20px;
      border: 0;
      resize: none;
      background-color: $gray-lighter;
      font-size: 16px;
    }
  }

  .search-sidebar {
    padding: 10px 10px;

    .btn {
      @include border-radius(0);
      padding: 20px 5px;
      margin-top: 10px;

      .fa {
        display: block;
        font-size: 30px;
      }
    }

    .dropzone {
      padding: 10px 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 19px;
      color: $gray-dark;
      border: 1px dashed $gray;

      &.active {
        background-color: $gray;
        color: $white;
      }
    }
  }
}

.section-welcome {
  background-color: $theme-blue;
  color: $white;
  padding: 50px 20px;
  margin-bottom: -40px;

  h2 {
    text-align: center;
  }

  .img-responsive {
    @include border-radius(50%);

    display: block;
    margin: 25px auto;
    max-width: 180px;
    border: 5px solid $theme-red;
  }
}

/* @end Search Bar */

/* @group Footer */

.footer {
  padding: 30px;
  margin-top: 40px;
  background-color: $gray-lighter;
  font-size: 18px;
  text-align: center;

  .social {
    margin-bottom: 10px;

    .fa {
      margin: 0 5px;
    }
  }
}

/* @end Footer */

/* @group Results */

.results {
  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;

    .count {
      color: $gray-dark;
    }
  }

  .details {
    border-top: 1rem solid $theme-blue;
    background-color: $gray-lighter;
    margin: 0;
    padding: 30px 20px;

    h2 {
      margin-top: 0;
    }

    h3 {
      margin: 5px 0;
    }

    h4 {
      margin: 5px 0 0;
    }

    .stats-map {
      text-align: left;
      margin: 20px 0;
    }
  }

  .packages {
    h3 {
      margin-top: 1rem;
      border-bottom: 1px solid gray;
      line-height: 3.75rem;

      .count {
        float: right;
      }
    }
  }
}

/* @end Results */

/* @group Package */

.package {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-dark;

  .name {
    .fa {
      font-size: 12px;
      color: $gray-dark;
      margin-left: 5px;
    }
  }

  .status {
    font-size: 30px;
    text-align: center;

    .has-latest {
      color: $version-uptodate;
    }

    .has-minor {
      color: $version-minor;
    }

    .has-major {
      color: $version-major;
    }

    .has-errored {
      color: $version-errored;
    }
  }

  .required .latest {
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      width: 100%;
    }
  }
}

/* @end Package */
